#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.done {
  text-decoration: line-through;
}

li {
  width: 100%;
}
.heading1 {
  font-size: 40px;
}

.add-task--wrapper {
  width: 1200px;
  height: 600px;
  padding: 40px;
  background-color: rgb(29, 28, 26);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input--wrapper {
  display: flex;
  gap: 10px;
}

.toDo--item-wrapper {
  width: 1000px;
  display: flex;
  gap: 10px;
}

.button {
  background-color: rgb(64, 113, 168);
  padding: 10px;
  font-size: 20px;
}

.interact--wrapper {
  display: flex;
  justify-content: flex-end;
}

.toDo--wrapper{
  height: 600px;
  width: 1000px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}